<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>
<body>
<h2>Lista użytkowników</h2>

<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>E-mail</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <a th:href="@{/uzytkownik/usun(id=${user.id})}">usuń</a> |
            <a th:href="@{/uzytkownik/edytuj(id=${user.id})}">edytuj</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/}">Strona główna</a>
</div>

</body>
</html>