<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<div>
    <h1>Strona główna - Witaj </h1>

    <div>
        <a th:href="@{/uzytkownik/lista}">Użytkownicy</a>
    </div>
    <div>
        <a th:href="@{/kurs/lista}">Kursy</a>
    </div>
    <div>
        <a th:href="@{/blok/lista}">Bloki zajęć</a>
    </div>
    <div>
        <a th:href="@{/zajecia/lista}">Zajęcia</a>
    </div>

    <div>
        <a th:href="@{/rejestracja}">Zarejestruj się</a>
    </div>
</div>
</body>
</html>