<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja użytkownika</title>
</head>
<body>
<h2>Rejestracja użytkownika</h2>

<form th:action="@{/rejestracja/podsumowanie}" method="post" th:object="${user}">

    <label>
    Imię: <input type="text" th:field="*{firstName}"><br>
    </label>
    <label>
    Nazwisko: <input type="text" th:field="*{lastName}"><br>
    </label>
    <label>
    Login: <input type="text" th:field="*{login}"><br>
    </label>
    <label>
    E-mail: <input type="text" th:field="*{email}"><br>
    </label>
    <label>
    Hasło: <input type="password" th:field="*{password}"><br>
    </label>
    <label>
        Wybierz kurs/y:

        <p th:each="course: ${courseList}">
            <input type="checkbox" th:field="*{courses}" th:value="${course.id}">
            <span th:text="${course.name}"></span>
        </p>
    </label>

    <input type="submit" value="Zarejestruj">
</form>
<div>
    <a th:href="@{/}">Strona główna</a>
</div>
</body>
</html>